*.swp
*.pyc
*.bak
*DS_Store
local_config.py
local_options.py
local_settings.py
certs
.DS_Store
dbdump
dump
tmp
# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

.idea
*.exe
bin
log
pkg
thirdparty
conf/config.json
djhaobtc/static
media
djhaobtc/media
Messenger/ios/Messenger.xcodeproj/project.xcworkspace/xcuserdata/*

# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# node.js
#
node_modules/
npm-debug.log
*.map

.pgpass
mysql2pgsql.yml

db.sqlite3
djhaobtc/common/static/release/

